@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

body, #__next {
  height: 100%;
}

.my-row > [role="gridcell"] {
  width: 100%;
  display: grid;
  grid-template-areas: "thumbnail title . detail switch checkbox chevron draghandle";
  grid-template-columns: repeat(2, auto) 1fr repeat(3, auto);
  grid-template-rows: auto;
}

.my-row .thumbnail {
  grid-area: thumbnail;
}

.my-row .title {
  grid-area: title;
}

.my-row .detail {
  grid-area: detail;
}

.my-row .switch {
  grid-area: switch;
}

.my-row .checkbox {
  grid-area: checkbox;
}

.my-row .chevron {
  grid-area: chevron;
}